.Register,
.Login {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-top: 30px;
}

.input-group {
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.submit-wrapper {
	display: flex;
	justify-content: center;
}
